<include file="Public/min-header"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
	<section class="content">
    <form action="{:U('Goods/addEditCategorydel')}" method="post">
       <div class="row">
       		<div class="col-xs-12">
	       		<div class="box">
	             <div class="box-header">
	               	<nav class="navbar navbar-default">	     
				        <div class="collapse navbar-collapse">
						   <div class="navbar-form row">
				            	<div class="col-md-1">

					            </div>
					            <div class="col-md-9">
					            	<span class="warning">温馨提示：顶级分类（一级大类）设为推荐时才会在首页楼层中显示</span>
					            </div>
					            <div class="col-md-2">
					            <a href="{:U('Goods/addEditCategory')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>新增分类</a>
                      <button class="btn btn-danger pull-right">批量删除</button>
				            	</div>
				            </div>
				      	</div>
	    			</nav> 	               
	             </div><!-- /.box-header -->
	           <div class="box-body">
	           <div class="row">
	            <div class="col-sm-12">
	              <table id="list-table" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
	                 <thead>
	                   <tr role="row">
                      <th>全选 <input type="checkbox" onclick="$('input[name=\'cat_id\[\]\']').prop('checked', this.checked);"></th>
	                   	   <th valign="middle">分类ID</th>
		                   <th valign="middle" style="text-align:center;">分类名称</th>
                           <!--<th valign="middle" style="text-align:center;">类型</th>-->
                           <th valign="middle" style="text-align:center;">是否推荐</th>
		                   <th valign="middle" style="text-align:center;">是否显示</th>
                           <!-- <th valign="middle">佣金比例</th>
                           <th valign="middle">分组</th>
		                   <th valign="middle">排序</th> -->
		                   <th valign="middle" style="text-align:center;" >操作</th>
	                   </tr>
	                 </thead>
			<tbody>
			<foreach name="cat_list" item="vo" key="k" >
			  		<tr role="row" align="center" class="{$vo.level}" id="{$vo.level}_{$vo.id}" <if condition="$vo[level] gt 1">style="display:none"</if>>
			  			 <td><input type="checkbox" name="cat_id[]" class="cat_id" value="{$vo.id}"></td>
               <td>{$vo.id}</td>
							<td>{$vo.mobile_name}</td>
                         <td>
                             <img width="20" height="20" src="__PUBLIC__/images/<if condition='$vo[is_hot] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('goods_category','id','{$vo.id}','is_hot',this)"/>
                         </td>
	                     <td>
                             <img width="20" height="20" src="__PUBLIC__/images/<if condition='$vo[is_show] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('goods_category','id','{$vo.id}','is_show',this)"/>                             
                         </td>
	                     <td>
	                      <a class="btn btn-primary" href="{:U('Goods/addEditCategory',array('id'=>$vo['id']))}"><i class="fa fa-pencil"></i></a>
	                      <a class="btn btn-danger" href="javascript:del_fun('{:U('Goods/delGoodsCategory',array('id'=>$vo['id']))}');"><i class="fa fa-trash-o"></i></a>
							 <a><button class="btn bg-navy" type="button" data-value="{$vo['id']}" onclick="tree_open(this);"><i class="fa fa-angle-double-up"></i>展开</button></a>
			     		</td>
						</tr>
	                  </foreach>
	                   </tbody>
	               </table></div></div>
		               <div class="row">
			               <div class="col-sm-5">
			               <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div></div>
		               </div>
	             </div><!-- /.box-body -->
	           </div><!-- /.box -->
       		</div>
       </div>
       </form>
     </section>
</div>
<script type="text/javascript">

// 展开收缩
function  tree_open(obj)
{
    var id = $(obj).attr('data-value');
    var Iid = 'id_'+id;
    console.log(id);
    var cla = $(obj).find("i").attr('class')
	var cz = '';
	if(cla=='fa fa-angle-double-up'){
        $.ajax({
			url:'/index.php/admin/goods/ajaxcate',
			type:'post',
            data : {'id':id},
            dataType : 'json',
			success:function (data) {
                data.data.forEach(function(value, index, array) {
                    if(value['level']<3)  cz = '<a><button class="btn bg-navy" type="button" data-value='+value['id']+' onclick="tree_open(this);"><i class="fa fa-angle-double-up"></i>展开</button></a>';
                    else cz = '';
                    if(value['is_hot']==1){ img1 = 'yes.png';}
                    else{ img1 = 'cancel.png';}
                    if(value['is_show']==1){ img2 = 'yes.png';}
                    else{ img2 = 'cancel.png';}
                    var html = '<tr align="center" id='+Iid+' class="'+Iid+' levl2"><td><input type="checkbox" name="cat_id[]" class="cat_id" value='+value['id']+'></td><td>'+value['level2']+value['id']+'</td><td>'+value['mobile_name']+'</td><td><img width="20" height="20" src="__PUBLIC__/images/'+img1+'" onclick="changeTableVal(\'goods_category\',\'id\',\''+value['id']+'\',\'is_hot\',this)"/></td><td><img width="20" height="20" src="__PUBLIC__/images/'+img2+'" onclick="changeTableVal(\'goods_category\',\'id\',\''+value['id']+'\',\'is_show\',this)"/></td><td><a class="btn btn-primary" href="./addEditCategory?id='+value['id']+'"><i class="fa fa-pencil"></i></a> <a class="btn btn-danger" href="javascript:del_fun(\'./delGoodsCategory?id='+value['id']+'\');"><i class="fa fa-trash-o"></i></a> '+cz+'</td></tr>';
                    $(obj).parents("tr").after(html);
                });
            }
		});
        $(obj).html('<i class="fa fa-angle-double-down"></i>收起');
	}else{
        $(obj).html('<i class="fa fa-angle-double-up"></i>展开');
        var a = '.'+Iid;
        $(a).hide();
	}
}
    
// 以下是 bootstrap 自带的  js
function rowClicked(obj)
{
  span = obj;

  obj = obj.parentNode.parentNode;

  var tbl = document.getElementById("list-table");

  var lvl = parseInt(obj.className);

  var fnd = false;
  
  var sub_display = $(span).hasClass('glyphicon-minus') ? 'none' : '' ? 'block' : 'table-row' ;
  //console.log(sub_display);
  if(sub_display == 'none'){
	  $(span).removeClass('glyphicon-minus btn-info');
	  $(span).addClass('glyphicon-plus btn-warning');
  }else{
	  $(span).removeClass('glyphicon-plus btn-info');
	  $(span).addClass('glyphicon-minus btn-warning');
  }

  for (i = 0; i < tbl.rows.length; i++)
  {
      var row = tbl.rows[i];
      
      if (row == obj)
      {
          fnd = true;         
      }
      else
      {
          if (fnd == true)
          {
              var cur = parseInt(row.className);
              var icon = 'icon_' + row.id;
              if (cur > lvl)
              {
                  row.style.display = sub_display;
                  if (sub_display != 'none')
                  {
                      var iconimg = document.getElementById(icon);
                      $(iconimg).removeClass('glyphicon-plus btn-info');
                      $(iconimg).addClass('glyphicon-minus btn-warning');
                  }else{               	    
                      $(iconimg).removeClass('glyphicon-minus btn-info');
                      $(iconimg).addClass('glyphicon-plus btn-warning');
                  }
              }
              else
              {
                  fnd = false;
                  break;
              }
          }
      }
  }

  for (i = 0; i < obj.cells[0].childNodes.length; i++)
  {
      var imgObj = obj.cells[0].childNodes[i];
      if (imgObj.tagName == "IMG")
      {
          if($(imgObj).hasClass('glyphicon-plus btn-info')){
        	  $(imgObj).removeClass('glyphicon-plus btn-info');
        	  $(imgObj).addClass('glyphicon-minus btn-warning');
          }else{
        	  $(imgObj).removeClass('glyphicon-minus btn-warning');
        	  $(imgObj).addClass('glyphicon-plus btn-info');
          }
      }
  }

}
</script>
</body>
</html>
  